*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body{
    background-color:aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width:100vw;
    transition-property: all;
    transition: 1s;
}

div.switch{
    position: relative;
    display: flex;
    height:100px;
    width:230px;
    border-radius: 50px;
    background-color:black;
    align-items: center;
    justify-content:space-between
}

button{
    position: absolute;
    width:93px;
    height:93px;
    border-radius: 50%;
    left: 3px;
    transition: 0.5s;
}

img{
    width: 100px;
}

body.dark{
    background-color:#292C35;
    transition-property: all;
    transition: 1s;
}

button.dark{
    left:133px;
    transition-property: all;
    transition: 0.5s;
}